*{
	box-sizing: border-box;
	margin: 0;
}

.container{
	margin: 0 auto;
	padding: 0 15px;
	width: 1140px;
	height: 100%;
}

/*header-block*/

.header{
	height: 500px;

	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #B0B0B0;
	background-position: center center;
}

.top-line{
	padding-top: 44px;
	display: flex;
	position: relative;
}

.header__logo{
	width: 60px;
	height: 14px;
}

.header__menu{
	position: absolute;
	right: 0;
}

.menu{
	display: block;
	margin-bottom: 6px;

	content: '';
	background-color: #60606E;
	height: 1px;
}

.menu-1{
	width: 31px;
}

.menu-2{
	width: 15px;
}

.menu-3{
	width: 23px;
}

.header__text{
	margin-top: 213px;
	font-family: 'Montserrat', sans-serif;
	color: #60606E;
    text-align: center;
    text-transform: uppercase;
}

.header__title{
	font-size: 36px;
	font-weight: bold;
	line-height: 1.333em;
}

.header__link a{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

/*block-two*/

.text-block{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	color: #60606E;
	margin: 150px -15px 0 -15px;
}

.b-two__title{
	position: relative;
	z-index: 1;
	margin-bottom: 15px;
	font-size: 1.875rem;
	line-height: 1.6;
	font-weight: bold;
	text-transform: uppercase;
}

.b-two__subtitle{
	margin-bottom: 20px;
	font-size: 0.875rem;
	line-height: 1.7;
	font-weight: 800;
	text-transform: uppercase;
}

.b-two__text{
	font-size: 0.875rem;
	line-height: 2.14;
}

.text-block_1, .text-block_2{
	position: relative;
	margin: 0 15px 160px 15px;
}

.blue-box{
	position: absolute;
	top: 1.45rem;
    left: -1px;
    z-index: 0;
    width: 68px;
	height: 21px;
	background-color: #7BEEC7;
}

/*block-three*/

.b-three__title{
	position: relative;
	z-index: 1;
	margin-bottom: 15px;
	font-size: 1.875rem;
	line-height: 1.6;
	font-weight: bold;
	text-transform: uppercase;
}

.b-three__text-box{
	position: relative;
	margin: 0 auto;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #60606E;
}

.b-three__text{
	margin: 0 -18px 97px -18px;
	font-size: 0.875rem;
	line-height: 2.14;
}

.b-three__box{
	left: 249px;
}

.b-three__text-areas{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 98px -15px;
	font-family: 'Montserrat', sans-serif;
	color: #60606E;
}

.benefit_box{
	margin-bottom: 50px;
	padding: 0 15px;
}

.icon-box{
	margin: 0 19px 0 0;
    padding-top: 10px;
	width: 40px;
	height: 40px;
	background-color: #7BEEC7;
	float: left;
	text-align: center;
}

.box-title{
	font-size: 18px;
	line-height: 2.666em;
	text-transform: uppercase;
}

.box-text{
	margin-top: 15px;
	font-size: 14px;
	line-height: 2.14em;
}

/*block-four*/

.b-four__text-box{
	position: relative;
	margin: 0 auto;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #60606E;
}

.b-four__title{
	position: relative;
	z-index: 1;
	margin-bottom: 15px;
	font-size: 1.875rem;
	line-height: 1.6;
	font-weight: bold;
	text-transform: uppercase;
}

.b-four__text{
	margin: 0 -18px 95px -18px;
	font-size: 0.875rem;
	line-height: 2.14;
}

.b-four__box{
	left: 225px;
}

.b-four__team{
	display: flex;
    flex-wrap: wrap;
    margin-right: -19px;
    justify-content: space-between;
}

.b-four__team img{
	width: 263px;
    height: 333px;
}

.b-photo{
	margin-bottom: 15px;
}

/*columns*/

.col-1-12{
	width:  8.33%;
}

.col-2-12{
	width: 16.66%;
}

.col-3-12{
	width: 25%;
}

.col-4-12{
	width: 33.33%;
}

.col-5-12{
	width: 41.65%;
}

.col-6-12{
	width: 50%;
}

.col-7-12{
	width: 58.33%;
}

.col-8-12{
	width: 66.66%;
}

.col-9-12{
	width: 75%;
}

.col-10-12{
	width: 83.33%;
}

.col-11-12{
	width: 91.66%;
}

.col-12-12{
	width: 100%;
}

/*media*/

@media screen and (min-width: 320px){
	.container{
		width: 87.692vw;
	}

	.benefit_box{
		width: 100%;
	}

	.b-photo{
		width: 100%;
		text-align: center;
	}

	.text-block{
		flex-wrap: wrap;
	}

	.text-block_1{
		width: 100%;
	}

	.text-block_2{
		width: 100%;
	}
}